@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
  background-color: #f8f9fa!important;
  font-family: 'Roboto', sans-serif;
}
.cursor {
  cursor: pointer;  
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* header */
.bg-green {
  background-color: #2dce89!important;
}
.bg-header {
  height: 100%;
  max-height: 300px;
}
.search {
  width: 150px!important;
}
.dropdown-menu {
  width: 300px!important;
  border: none!important;
  margin-top: 0.5rem!important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -150%;
  z-index: 100;
  width: 100%;
  max-width: 15.6rem;
  height: 100%;
  margin: 1rem 0 1rem 1rem;
  transition: all 0.3s ease-in-out;
}
.sidebar.active {
  left: 0;
}
.nav-link.active {
  background-color: #c2f0c2!important;
  color: #344767!important;
  border-radius: 0.5rem;
  font-weight: 700;
}
.dropmenu {
  transition: all 0.3s ease-in-out;
}
.card {
  border: none!important;
}

@media (min-width: 767px) {
  .search {
  width: 200px!important;
}

}

@media (min-width: 992px) {
  .main-content {
    margin-left: 300px;
  }
  .sidebar {
    left: 0;
    max-width: 18rem;
  }
}