@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');
@import './style.css';
:root {
  /* font size  */
  --font-normal: 1rem;
  --font-small: 0.875rem;
  --font-smaller: 0.75rem;
  --font-big: 1.25rem;
  --font-bigger: 1.5rem;
  /* font style  */
  --font-style: 'Open Sans', sans-serif;
  /* color  */
  --color-body: #f8f7fa;
  --color-green: #2dce89;
  --color-black: #344767;
  --color-gray: #8392ab;
  --color-green-gradient: linear-gradient(310deg, #2dce89, #2dcecc);
}
.image-svg {
  width: 300px;
}
.title-svg {
  text-align: center;
  color: var(--color-green)!important;
  margin-top: -3rem!important;
}
.btn-green-gradient {
  background-image: var(--color-green-gradient)!important;
  color: #fff!important;
  border-radius: 0.5rem!important;
}
/* .form-check-input:checked {
  background-color: var(--color-green)!important;
  border-color: var(--color-green)!important;
} */



/* ================ Header ================ */
.bg-green {
  background-image: var(--color-green-gradient)!important;
}
.bg-header {
  height: 100%;
  max-height: 300px;
}
.search {
  width: 150px!important;
}
.dropnotif {
  width: 300px!important;
  border: none!important;
  margin-top: 0.5rem!important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.head-item i {
  font-size: 1.1rem;
}
.text-small {
  font-size: 0.8rem!important;
}
/*================ table biasa ====================*/
.table thead tr th {
  font-size: var(--font-small) !important;
  color: var(--color-gray) !important;
  white-space: nowrap;
  padding-right: 2rem !important;
}
.table tbody tr td {
  padding: 0.7rem 2rem 0.7rem 0.5rem !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: #8392ab !important;
  white-space: nowrap;
}
.table-responsive::-webkit-scrollbar {
  height: 0.4rem !important;
}

/* ============== Sidebar ==============  */
.sidebar {
  position: fixed!important;
  top: 0;
  bottom: 0;
  left: -150%;
  width: 100%;
  max-width: 15.6rem;
  height: calc(100vh - 2rem);
  margin: 1rem 0 1rem 1.5rem;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
  z-index: 999;
}
.sidebar.active {
  left: 0;
}
.nav-link.active {
  background-color: #344767!important;
  color: #ffffff!important;
  border-radius: 0.5rem;
}
.nav-link.actived {
  background-color: var(--color-body)!important;
  color: var(--color-green)!important;
  font-weight: 700!important;
  border-radius: 0.5rem;
}
.nav-link.aktif {
  font-weight: 600;
  color: #344767!important;
}
.nav-link span {
  font-size: var(--font-small);
  white-space: no-wrap!important;
}
.head-sign-in {
  font-size: var(--font-small)
}
.dropmenu {
  transition: all 0.3s ease-in-out;
}

/* ================= Dashboard ================  */
.card {
  border: none!important;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
  border-radius: 1rem!important;
}
.card-icon {
  font-size: 1.2rem;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
}

@media (min-width: 767px) {
  .search {
  width: 250px!important;
}
.image-svg {
  width: 400px;
}
.title-svg {
  text-align: center;
  color: var(--color-green)!important;
  margin-top: -3rem!important;
}
}

@media (min-width: 992px) {
  .dataTable tbody tr td {
    padding: 0.7rem 2rem 0.7rem 0.5rem!important;
  }
  .table tbody tr td {
    padding: 0.7rem 2rem 0.7rem 0.5rem!important;
  }
  .search {
    width: 200px!important;
  }
  .main-content {
    margin-left: 270px;
  }
  .sidebar {
    left: 0;
    max-width: 15,6rem;
  }
  .card-icon {
    font-size: .9rem;
    width: 30px;
    height: 30px;
  }
}