@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;700&display=swap');

:root {
  /* font size  */
  --font-normal: 1rem;
  --font-small: 0.875rem;
  --font-smaller: 0.75rem;
  --font-big: 1.25rem;
  --font-bigger: 1.5rem;
  /* font style  */
  --font-style: 'Open Sans', sans-serif;
  /* color  */
  --color-body: #f8f7fa;
  --color-green: #2dce89;
  --color-green-gradient: linear-gradient(310deg, #2dce89, #2dcecc);
}
body {
  background-color: var(--color-body)!important;
  font-family: var(--font-style)!important;
}
.cursor {
  cursor: pointer;  
}
::-webkit-scrollbar {
  width: 0.5rem;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 0.5rem;
}

/* header */
.bg-green {
  background-color: var(--color-green)!important;
}
.bg-header {
  height: 100%;
  max-height: 300px;
}
.search {
  width: 150px!important;
}
.dropnotif {
  width: 300px!important;
  border: none!important;
  margin-top: 0.5rem!important;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
}
.head-item i {
  font-size: 1.1rem;
}
.text-small {
  font-size: 0.8rem!important;
}

/* sidebar */
.sidebar {
  position: fixed;
  top: 0;
  left: -150%;
  z-index: 100;
  width: 100%;
  max-width: 15.6rem;
  height: calc(100vh - 2rem);
  margin: 1rem 0 1rem 1rem;
  transition: all 0.3s ease-in-out;
  overflow-y: auto;
}
.sidebar.active {
  left: 0;
}
.nav-link.active {
  background-color: var(--color-green)!important;
  color: #fff!important;
  border-radius: 0.5rem;
}
.nav-link.actived {
  background-color: var(--color-body)!important;
  color: var(--color-green)!important;
  font-weight: 600;
  border-radius: 0.5rem;
}
.nav-link.active span{
  font-weight: 600;
}
.nav-link.aktif {
  font-weight: 600;
  color: #344767!important;
}
.nav-link span {
  font-size: var(--font-small);
}
.nav-link i {
  font-size: 1.1rem;
}
.head-sign-in {
  font-size: var(--font-small)
}
.dropmenu {
  transition: all 0.3s ease-in-out;
}
.card {
  border: none!important;
  box-shadow: 0 0 2rem 0 rgba(136,152,170,.15)!important;
  border-radius: 1rem!important;
}
/* dashboard */
.card-icon {
  font-size: 1.2rem;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  margin: 1rem 1rem 0 0;
}

@media (min-width: 767px) {
  .search {
  width: 250px!important;
}

}

@media (min-width: 992px) {
  .main-content {
    margin-left: 300px;
  }
  .sidebar {
    left: 0;
    max-width: 18rem;
  }
  .card-icon {
    font-size: .9rem;
    width: 30px;
    height: 30px;
  }
}